{
  "parser": "babel-eslint",
  "extends": ["@cobinhood/eslint-config-cobinhood/browser"],
    "plugins": ["react", "jsx-a11y"],
    "env": {
      "browser": true,
      "node": true,
      "jest": true,
      "es6": true
    },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./internals/webpack/webpack.prod.babel.js"
      }
    }
  },
  "rules": {
    "import/no-named-as-default": "off",
    "react/forbid-prop-types": "off"
  }
}
